body{
	font-family: "Open Sans", Arial, sans-serif;
}
p{
	font-size: 12px;
}
h3{
	margin-bottom: 0;
	margin-top: 0;
}
.container{
	width: 1077px;
}

.navbar{
	background-color: white;
}
#navbar{
	background-color: #b5ce00;
	width: 1077px;
	margin-bottom: 0;
}
.navbar a{
	color: white;
	display: inline-block;
}
.navbar a:hover{
	background-color: transparent;
}
.header-inner{
	background-color: #efefef;
	margin-bottom: 30px;
}
.title-article{
	color: white;
	padding: 10px 0px 10px 10px;
	margin: 0 0 0 0;
}
.right{
	background-color: #b5ce00;
	color: white;
	padding: 10px 10px;
	margin-bottom: 20px;
}

#mob{
	background: orange;
	width: 70px;
}

#apps{
	background: #b5ce00;
	width: inherit;
}

#obco{
	background: #b5ce00;
	width: 150px;
}
.img-article{
	width: 330px;
	height: 185px;
}

#logomaki{
	width: 90px;
	height: 90px;
	float: left;
	margin-top: 0;
	margin-right: 10px;
}
.reseaux-logo p{
	color: grey;
	font-size: 10px;
}
#CM{
	color: black;
}
span {
	font-weight: bold;
	margin-top: 30px;
}
#col-right{
	border-left: 1px solid #efefef;
}
.reseaux-logo{
	display: flex;
}
.reseaux{
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

label{
	color: gray;
	font-weight: normal;
	font-size: 10px;
}
input{
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 2px;
	border: 1px solid #d9d9d9;
	background-color: #f9f9f9;
}
input[type=checkbox]{
	margin-right: 5px;	
}
button{
	color: #d9d9d9;
	background-color: #f9f9f9;
	border: 1px solid #d9d9d9;
}
a{
	color: black;
}